{% extends "layout.html" %}


{% block content%}
      <h1>Сайты</h1>


<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    {% if urls_data %}
    <tbody>
    {% for url_data in urls_data %}
        <tr>
          <td>{{ url_data['id'] }}</td>
          <td>
            <a href="{{ url_for('url_show', id=url_data['id']) }}">
              {{ url_data['name'] }}
            </a>
          </td>
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
{% endblock %}
